<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <style>
        /* Add the styles here */
        .intro-container {
            text-align: center;
        }

        .intro-text {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="intro-container">
        <h1>Welcome to RSA Encryption System</h1>
        <p class="intro-text">
            A web application designed to facilitate secure communication using the RSA encryption algorithm.
            RSA is a widely-used public-key cryptosystem that ensures the confidentiality
            and integrity of messages exchanged over the internet.
        </p>
    </div>

    <form method="POST" action="/generate">
        <label for="keysize">Choose Key Size:</label>
        <select name="keysize" required>
            <option value="1024">RSA-1024</option>
            <option value="2048">RSA-2048</option>
        </select>
        <input type="submit" value="Generate Keys" class="generate-key-button pulse"> 

    </form>
    
    {% if 'private_key_d' not in session or 'private_key_n' not in session %}
    <!-- Show the "Return Home" button only if the user is not logged in -->
    <form action="{{ url_for('return_home') }}" method="POST">
        <input type="submit" value="Return Home">
    </form>
    {% endif %}
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const numSnowflakes = 50;
      
          for (let i = 0; i < numSnowflakes; i++) {
            createSnowflake();
          }
      
          function createSnowflake() {
            const snowflake = document.createElement("div");
            snowflake.className = "snowflake";
            snowflake.style.left = `${Math.random() * 100}vw`;
            snowflake.style.animationDuration = `${Math.random() * 2 + 1}s`;
            document.body.appendChild(snowflake);
          }
        });
      </script>
      
</body>
</html>
